
QWidget {
  background: white;
}

QMenuBar::item:selected {
  background-color: lightgray;
}

QMenuBar::item:pressed {
  background-color: darkgray;
}

QMenu {
  border: 1px solid #CCCCCC;
}

QMenu::item:selected {
  background-color: lightgray;
  color: black;
}

QMenu::item:pressed {
  background-color: darkgray;
}

QToolTip {
  background: white;
}

QPushButton {
  background: white;
}