FormatStyle: "file"

Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  modernize-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -*-easily-swappable-parameters,
  -*-switch-missing-default-case,
  -*-owning-memory,
  -*-avoid-do-while,
  -*-avoid-pragma-once,
  -*-pro-type-vararg,
  -*-identifier-length,
  -*-uppercase-literal-suffix,
  -*-named-parameter,
  -*-magic-numbers,
  -*-redundant-member-init,
  -*-include-cleaner,
  -*-use-nodiscard,

CheckOptions:
  - key: "readability-identifier-naming.ClassCase"
    value: "CamelCase"

  - key: "readability-identifier-naming.StructCase"
    value: "CamelCase"

  - key: "readability-identifier-naming.EnumCase"
    value: "CamelCase"

  - key: "readability-identifier-naming.EnumConstantCase"
    value: "CamelCase"

  - key: "readability-identifier-naming.EnumConstantPrefix"
    value: "k"

  - key: "readability-identifier-naming.FunctionCase"
    value: "lower_case"

  - key: "readability-identifier-naming.MethodCase"
    value: "lower_case"

  - key: "readability-identifier-naming.ParameterCase"
    value: "lower_case"

  - key: "readability-identifier-naming.LocalVariableCase"
    value: "lower_case"

  - key: "readability-identifier-naming.LocalConstantCase"
    value: "lower_case"

  - key: "readability-identifier-naming.GlobalConstantCase"
    value: "CamelCase"

  - key: "readability-identifier-naming.GlobalConstantPrefix"
    value: "k"

  - key: "readability-identifier-naming.GlobalVariableCase"
    value: "CamelCase"

  - key: "readability-identifier-naming.GlobalVariablePrefix"
    value: "g"

  - key: "readability-identifier-naming.StructMemberCase"
    value: "lower_case"

  - key: "readability-identifier-naming.ClassMemberCase"
    value: "lower_case"

  - key: "readability-identifier-naming.ClassMemberPrefix"
    value: "m_"

  - key: "bugprone-unused-return-value.CheckedFunctions"
    value: ".+"

  - key: "bugprone-unused-return-value.AllowCastToVoid"
    value: true

  - key: "misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic"
    value: true
