BasedOnStyle: Google

Language: Cpp
Standard: c++20

ColumnLimit: 90
IndentWidth: 2

DerivePointerAlignment: false
PointerAlignment: Left

IndentRequires: true

NamespaceIndentation: None
FixNamespaceComments: true

EmptyLineBeforeAccessModifier: Always

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false

BinPackParameters: false
BinPackArguments: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakBeforeConceptDeclarations: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakStringLiterals: true

BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Standard headers, located in <> with no extension.
  - Regex: '<([A-Za-z0-9\_\-]+)>'
    Priority: 10

  # Tactile base headers, using the format <tactile_foo.hpp>
  - Regex: '<tactile_([A-Za-z0-9\_\-]+)\.([A-Za-z0-9\_\-]+)>'
    Priority: 12

  # Tactile IO or base headers
  - Regex: '<((tactile-io|tactile-base)\/)+([A-Za-z0-9\_\-]+)\.([A-Za-z0-9\_\-]+)>'
    Priority: 13

  # Headers in <> with extension and optional prefix.
  - Regex: '<([A-Za-z0-9\_\-]+\/)*(\.\.)*([A-Za-z0-9\_\-]+)\.([A-Za-z0-9\_\-]+)>'
    Priority: 15

  # Headers in "" with extension.
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 40