FormatStyle: google
Checks: "-*,
         performance-*,

         bugprone-*,
         -bugprone-easily-swappable-parameters,
         
         readability-*,
         -readability-identifier-length,
         -readability-uppercase-literal-suffix,
         -readability-magic-numbers,
         -readability-implicit-bool-conversion,
         -readability-else-after-return,
         -readability-named-parameter,
         -readability-function-cognitive-complexity,

         modernize-*,
         clang-analyzer-*,
         
         misc-*,
         -misc-no-recursion,
         -misc-non-private-member-variables-in-classes,
         
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-type-vararg,
         -cppcoreguidelines-owning-memory,
         -cppcoreguidelines-avoid-goto,
         "