# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS folder settings
.DS_Store

# Visual Studio files
.vs

# Visual Studio Code files
.vscode

# JetBrains files
.idea

# Generated Doxygen output
doxygen-out

# Build output
build
cmake-build-*

# Installer data
installer/packages/com.albinjohansson.tactile/data/*
