# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

compile_commands.json

.vs
.vscode
.idea
doxygen-out
build
cmake-build-*

# Allow all necessary installer data and metainformation
!installer/packages/com.albinjohansson.tactile/**/*