# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS folder settings
.DS_Store

# IDE files
.vs
.vscode
.idea
.fleet

# Build output
build
cmake-build-*

# Miscellaneous
.cache

# Asset files
data/fonts
data/images

# Cached script files
tools/scripts/cache
